<div fxLayout="column" fxLayoutGap="2%">
  <app-add-gymnast></app-add-gymnast>
  <mat-card>
    <mat-form-field>
      <input (keyup)="filterGymnast$.next($event.target.value)" matInput placeholder="filter" type="text" #filter />
    </mat-form-field>
  </mat-card>
  <div *ngIf="(gymnasts$ | async) as recipes; else loadingOrError">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="start">
      <div *ngFor="let g of (gymnasts$ | async | gymnastFilter: filterGymnastName)">
        <app-gymnast [gymnast]="g"></app-gymnast>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
    <mat-card>
      <mat-error *ngIf="(loadingErrors$ | async) as errorMessage; else loading">
       Error loading the recipe list: {{ errorMessage }}. <br/>
        Please try again later.
      </mat-error>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
    </mat-card>
  </ng-template> 